@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}
#appContainer {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding-bottom: 6em;
  background-color: #e0d8de;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#map {
  width: 100%;
}

#spotForecast .fs-smaller {
  font-size: 0.8em;
}

#navbar #brand {
  font-family: "Anton", sans-serif;
  font-size: 1.8em;
  font-style: italic;
  color: #034a66;
}
#navbar,
#footer {
  background-color: white;
  color: black;
  border: 0px 2px solid rgba(224, 216, 222, 0.5);
}

#navbar input {
  padding-left: 3em;
  border-radius: 18px;
  padding: 2em;
  background-color: #e0d8de50;
  color: #034a66;
  min-width: 180px !important;
}

#navbar input::placeholder {
  color: #034a66;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.7em;
  color: #034a66;
}

#footer a {
  color: #05b2dc;
  text-decoration: none;
}

.lightBlue {
  color: #05b2dc !important;
}

.darkBlue {
  color: #034a66 !important;
}
.darkBlueBackground {
  background-color: #034a66 !important;
}

.green {
  color: #036016 !important;
}

.darkGreen {
  color: #03440c !important;
}
.gray {
  color: #e0d8de !important;
}

.yellow {
  color: #ffb703 !important;
}

.orange {
  color: #ff715b !important;
}

.red {
  color: #af3b6e !important;
}

.purple {
  color: #7a3b69 !important;
}

#spotPreview {
  font-size: 0.8em;
  font-weight: 600;
}

#spotPreview .card-title,
#spotForecast .card-title {
  font-size: 2.2em;
  font-weight: 800;
}
#spotForecast {
  width: 90%;
  margin: 0 auto;
}
.swellLabel,
.windLabel {
  font-weight: 600;
  font-size: 0.8em;
}

.swellValue,
.windValue {
  font-weight: 900;
  font-size: 3em;
}

#conditionRate h6 {
  font-size: 1.4em;
  font-weight: 800;
}

button.darkBlueBackground.active {
  background-color: #034a66cd !important;
}
